<div class="mx-5 mb-5">
  <h1>Übersicht der Fixkosten</h1>
  <ul>
    <li>
      <%= link_to contract.organisation, contract %>
    </li>
  </ul>

  <%= link_to "Neues Einkommensverhältniss anlegen", new_employment_contract_path %>
</div>
